<div class ="row">
	<div class="col-md-6 mx-auto p-0">
		<div class="card">
<div class="login-box">
	<div class="login-snip">
		
		<input id="tab-2" type="radio" name="tab" class="sign-up"checked><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-space">
      
			
			<div class="sign-up-form">
                <form #f="ngForm">
				<div class="group">
					<label for="user" class="label">First Name</label>
					<input id="user" type="text" class="input" placeholder="Enter your First Name" ngModel>
				</div>
                <div class="group">
					<label for="user" class="label">Nom</label>
					<input id="user" type="text" class="input" placeholder="Enter your Last Name" ngModel>
				</div>
                <div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input" placeholder="Enter your Username" ngModel>
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" placeholder="Enter your password">
				</div>
				<div class="group">
					<label for="pass" class="label">date Naissance</label>
					<input id="date" type="date" class="input" data-type="date" placeholder="Enter your date of Birth" >
				</div>
				<div class="group">
					<label for="pass" class="label">Email Address</label>
					<input id="pass" type="text" class="input" placeholder="Enter your email address">
				</div>
                <div class="group">
					<label for="pass" class="label">Phone Number</label>
					<input id="pass" type="number" class="input" placeholder="Enter your Phone Number">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign Up">
				</div> <form #f="ngForm"></form>
				<div class="hr"></div>
				<div class="foot">
					<label for="tab-1">Already Member?</label>
				</div>
		</form></div>	
		</div>
	</div>
</div>   
</div>
</div>
</div>



